<!-- Footer -->
<footer class="footer">	
    <!-- Footer Top -->	
    <div class="footer-top aos" data-aos="fade-up" >
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-7 col-md-6">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h5 class="footer-title">A Propos</h5>
                                <p>
                                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                                </p>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                        <div class="col-lg-1 col-md-6">
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h5 class="footer-title">Menu</h5>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">My Account</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Champaigns</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Dreamsrental Dealers</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Deals and Incentive</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Financial Services</a>
                                    </li>	
                                    <li>
                                        <a href="javascript:void(0)">Dreamsrental Insurance</a>
                                    </li>	
                                    <li>
                                        <a href="javascript:void(0)">Dreamsrental Care</a>
                                    </li>								
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-contact footer-widget">
                        <h5 class="footer-title">Contact Info</h5>
                        <div class="footer-contact-info">									
                            <div class="footer-address">											
                                <span><i class="feather icon-phone-call"></i></span>
                                <div class="addr-info">
                                    <a href="tel:+212 6 06 89 24 22">+212 6 06 89 24 22</a>
                                </div>
                            </div>
                            <div class="footer-address">
                                <span><i class="feather icon-mail"></i></span>
                                <div class="addr-info">
                                    <a href="mailto:seekechcar@gmail.com">seekechcar@gmail.com</a>
                                </div>
                            </div>

                            <!-- ToDo : when clicked an email sent to the Owner-->
                            <div class="update-form">
                                <form action="#">
                                    <span><i class="feather icon-mail"></i></span> 
                                    <input [formControl]="email" type="email" class="form-control" placeholder="Entrer Votre Email">
                                    <button type="submit" class="btn btn-subscribe"><span><i class="feather icon-send" (click)="sendMail()"></i></span></button>
                                </form>
                            </div>
                        </div>								
                        <div class="footer-social-widget">
                            <h6>Connectez-vous avec nous</h6>
                            <ul class="nav-social">
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fa-brands fa-facebook-f fa-facebook fi-icon"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram fi-icon"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fab fa-behance fi-icon"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter fi-icon"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin fi-icon"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>					
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p>© 2023 See Kech Car. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <div class="vistors-details">
                                <ul class="d-flex">											
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/paypal.svg" alt="Paypal"></a></li>											
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/visa.svg" alt="Visa"></a></li>
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/master.svg" alt="Master"></a></li>
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/applegpay.svg" alt="applegpay"></a></li>
                                </ul>										   								
                            </div>
                        </div>
                        <!-- /Copyright Menu -->
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
    <!-- /Footer Bottom -->			
</footer>
<!-- /Footer -->	